<h1>
  <%= @restaurant.name %>
</h1>

<% @restaurant.reviews.each do |review| %>
   <span>
     <p><%= review.content %></p>
   </span>
<% end %>

<%= link_to "Add a new review", new_restaurant_review_path(@restaurant) %>

<%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>

<%= link_to "Delete restaurant", destroy_restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?"} %>
